body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

section {
  width: 100%;
  height: 100%;
}

section .layer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./Images/image1.jpg);
  background-attachment: fixed;
  background-position: center;
  transition: 2s;
}

section .layer1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 95%;
  background: url(./Images/image1.jpg);
  background-position: center;
  z-index: 1;
  transition: 2s;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
}

.layer1:hover ~ .layer2 {
  filter: blur(10px);
}

.layer1:hover {
  box-shadow: 0 25px 60px rgba(0, 0, 0, .8);
}

.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #03a9f4;
  font-size: 0.75rem;
}

.box button {
  border: none;
  outline: none;
  color: #fff;
  background-color: #03a9f4;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
  display: inline-block;
  margin: 0;
}

.box input[type="submit"]:hover {
  background-color: #1cb1f5;
}

#login { display: none; }
/*.layer1:hover #welcome { display: none; }*/
/*.layer1:hover #login { display: inline; }*/

#welcome h1{
  font-size: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Oswald', sans-serif;
  border: thick double;
  padding: 50px 50px 50px 50px;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: white;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}