// Place all the styles related to the ExploreEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar
{
  margin: 30px;
  display: block;
}
.container-fluid
{
  display: block;
}

.events
{

  position: relative;
  width: 100%;
  height: 100%;
  float: right;
  box-sizing: border-box;

}

.events ul{

  margin: 0;
  padding: 40px;
  box-sizing: border-box;

}

.events ul li{
  list-style: none;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #17a3b9;
  height: 150px;

}
.events ul li p{

  font-size: 20px;

}
.events ul li span{

  font-size: 10px;

}

.time{
  position: relative;
  padding: 20px;
  background: white;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  padding-top: 5%;
}

.join{

  position: absolute;
  right: 10%;
}

.link{

  padding: 260px;
  font-size: 20px;

}

.find_events{

  width: 100%;
}

td {
  width: 100px;
}
td label{
  width: 260px;
  text-align: center;
}
.find{

  outline:0;

}

.create{

  margin-left: 200px;
  margin-top: 50px;
}

.notice
{
  color: red;
}

.host_events
{
  width: 100%;
}
