.col-container {
  display: table;
  width: 100%;
  margin: 0 -5px;
  box-sizing: border-box;
}

.col-container:after {
  content: "";
  display: table;
  clear: both;
}

.header-column-5 {
  float: left;
  width: 20%;
  margin: auto;
  padding: .5em;
  box-sizing: border-box;
  display: table-cell;
  text-align: center;
  background-color: #1D3444;
  box-shadow: 1px 1px 3px rgb(179,236,245);
  border-radius: 3px;
  border-width: 2px 1px 0 1px;
  border-style: solid;
  border-color: #40667C;
}

.header-column-5 h4 {
  color: #82A0A7;
}

.column-5 {
  float: left;
  width: 20%;
  padding: .5em 1em;
  box-sizing: border-box;
  display: table-cell;
}

.schedule-card {
  margin: .75em 0;
  height: 5rem;
  padding: .75em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}
