.col-container {
  display: table;
  width: 100%;
  margin: 0 -5px;
  box-sizing: border-box;
}

.col-container:after {
  content: "";
  display: table;
  clear: both;
}

.header-column-5 {
  float: left;
  width: 20%;
  margin: auto;
  padding: .5em;
  box-sizing: border-box;
  display: table-cell;
  text-align: center;
  background-color: #1D3444;
  box-shadow: 1px 1px 3px rgb(179,236,245);
  border-radius: 3px;
  border-width: 3px 1px 4px 1px;
  border-style: solid;
  border-color: #40667C;
}

.header-column-5:first-child {
  border-width: 3px 1px 4px 3px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.header-column-5:last-child {
  border-width: 3px 3px 4px 1px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.header-column-5 h4 {
  color: #82A0A7;
  font-weight: normal;
}

.column-5 {
  float: left;
  width: 20%;
  padding: .3em 1em;
  box-sizing: border-box;
  display: table-cell;
}

.schedule-card {
  height: 5rem;
  margin: .75em 0;
  background-color: #FBF8F2;
  perspective: 1000px;
}

.schedule-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.schedule-card-inner h5 {
  font-weight: normal;
  font-size: 1.2em;
  display: flex;
}

.schedule-card-inner p {
  font-weight: 450;
  display: flex;
  margin: 0 !important;
}

.schedule-card-inner p.hour-interval {
  font-weight: 550;
  font-size: 1em;
  display: flex;
  margin: 0 0 .2em 0 !important;
}

.schedule-card:hover .schedule-card-inner {
  transform: rotateY(180deg);
}

.schedule-card-front, .schedule-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: .75em;
}

.schedule-card-back {
  transform: rotateY(180deg);
}

hr.schedule-hr {
  width: 99%;
  height: auto;
  margin: .5em 0 0 -0.2em;
  border-width: 5px;
  border-style: solid;
  border-color: #40667C;
  border-radius: 4px;
}

hr.schedule-hr:after {
  content: "";
  display: table;
  clear: both;
}
