<% @page_title = "Admin Home" %>
<h1>Admin Home</h1>
<p><%= link_to("Student Tokens", student_tokens_path) %></p>
<p><%= link_to("Teacher Tokens", teacher_tokens_path) %></p>
<p>Logged in as: <%= @username %></p>
<p><%= link_to("Logout", logout_path) %></p>
